body
{
	font-family:sans-serif;
	font-size:small;
	background-color:#8e8ccc;
}
#container
{
	background-color:white;
	margin-top:50px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
}
form
{
	display:table;
	width:100%;
	border-spacing:15px;
}
.tableRow
{
	display:table-row;
}
.cell
{
	display:table-cell;
	font-size:120%;
	vertical-align:top;
	width:40%;
}
#btn
{
	width: 35%;
	border-radius:5px;
	font-size: 100%;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#1e18e0;
	border-color: #1e18e0;
	color: white;
}
#container h1
{
	text-align:center;
	padding-top:10px;
}
.help
{	
	color:red;
	font-style: italic;
	font-size: 120%;
}
#help_form
{
	text-align:center;
}	
	