body
{
	background-color:#8e8ccc;
	font-family: sans-serif;
	font-size:small;
}
#out
{
	text-align:center;
	margin-top:100px;
}
#container
{
	margin-bottom:50px;
}
#container .field
{
	margin-bottom:10px;
}
#btn
{
	width: 20%;
	border-radius:8px;
	font-size: 150%;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#1e18e0;
	border-color: #1e18e0;
	color: white;
}
.btn_enabled
{
	width:60%;
	border-radius:8px;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#1e18e0;
	border-color: #1e18e0;
	color: white;
	margin: 20px 0px 0px 0px;
}	
.inpt
{
	width: 20%;
	border-radius:8px;
	
	font-size: 150%;
	padding-top:10px;
	padding-bottom:10px;
}
a
{
	font-size: 150%;
	font-weight: bold;
	color: white;
	text-decoration: none;
}	
#table
{
	width:100%;
	display:table;
	border-spacing:10px;
}
.tableRow
{
	display:table-row;
	
}
p.cell
{
	display:table-cell;
	font-size:150%;
}
#form_container
{
	border:solid 1px black;
	border-radius: 5px;
	background-color: white;
	margin: 50px 0px 50px 0px;
	margin-left: auto;
	margin-right:auto;
	width:500px;
}
#form_container h1
{
	text-align: center;
	padding-bottom:10px;
}	
.help
{
	font-size:100%;
	font-style:italic;
	color:red;
}
#help_form
{
	text-align:center;
}	
.btn_disabled
{
	width:60%;
	border-radius:8px;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#c6c6c6;
	border-color: #c6c6c6;
	color: white;
	margin: 20px 0px 0px 0px;
}	